<!-- header.ejs -->
<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/one_piece">One Piece</a></li>
        <li><a href="/haikyuu">Haikyuu</a></li>
        <li><a href="/naruto">Naruto</a></li>
      </ul>
    </nav>
  </header>
  