<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <%- include('header') %>
  <h1>Welcome to the Home Page</h1>
  <p>In this website, I have provided the information about my top 3 anime. Anime are basically the japanese animated shows. </p>
</body>
</html>
